
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            Web.Panel.City.list();
        });
    </script>
}
<div id="list-city">
</div>