@model WebPanel.Models.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Panele Hoşgeldiniz</h1>
    <br />
    <p><label>Şehir Sayısı: </label> @Model.CityCount</p>
    <p><label>Toplam Haber Sayısı: </label> @Model.TotalNewsCount</p>
    <p><label>Günlük Haber Sayısı: </label> @Model.DailyNewsCount</p>
</div>